body {
  background-image: url("./Assets/wallpaper2you_521440.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: block;
}

h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: "Staatliches", cursive;
}

.field {
  text-align: center;
}
.footers {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: white;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
