body {
  background-image: url("./Assets/wallpaper2you_521440.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: block;
}

h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  font-family: "Staatliches", cursive;
}

.field {
  text-align: center;
}
/*footer part of  page */
footer {
  background-color: #343a40;
  height: 4rem;
  padding: 18px;
  color: white;
  font-size: 2rem;
  border-top: orange solid;
  text-align: center;
}
/*is use gor git and linkhub icon */
.icon {
  width: 30px;
  height: 30px;
}
.is-horizontal-center {
  justify-content: center;
}
